<launch>
  <arg name="gui" default="true"/>
  <arg name="rviz" default="true"/>
  <arg name="enable_leg_hold" default="true"/>
  <arg name="x" default="0.0"/>
  <arg name="y" default="0.0"/>
  <arg name="z" default="0.35"/>

  <param name="robot_description" textfile="$(find motion_control)/urdf/urdf/go2w_description.urdf"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="$(arg gui)"/>
  </include>

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher"/>

  <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf"
        args="-urdf -param robot_description -model my_robot -x $(arg x) -y $(arg y) -z $(arg z)
              -J FL_hip_joint 0.08 -J FR_hip_joint -0.08 -J RL_hip_joint 0.08 -J RR_hip_joint -0.08
              -J FL_thigh_joint 0.85 -J FR_thigh_joint 0.85 -J RL_thigh_joint 1.0 -J RR_thigh_joint 1.0
              -J FL_calf_joint -1.55 -J FR_calf_joint -1.55 -J RL_calf_joint -1.7 -J RR_calf_joint -1.7"
        output="screen" />

  <group if="$(arg enable_leg_hold)">
    <rosparam command="load" file="$(find motion_control)/config/go2w_leg_position_controllers.yaml"/>

    <node pkg="controller_manager" type="spawner" name="leg_controller_spawner" output="screen"
          args="joint_state_controller
                FL_hip_joint_position_controller FL_thigh_joint_position_controller FL_calf_joint_position_controller
                FR_hip_joint_position_controller FR_thigh_joint_position_controller FR_calf_joint_position_controller
                RL_hip_joint_position_controller RL_thigh_joint_position_controller RL_calf_joint_position_controller
                RR_hip_joint_position_controller RR_thigh_joint_position_controller RR_calf_joint_position_controller"/>

    <node pkg="motion_control" type="stand_pose_publisher.py" name="stand_pose_publisher" output="screen">
      <param name="publish_rate" value="30.0"/>
      <param name="duration" value="0.0"/>
    </node>
  </group>

  <node if="$(arg rviz)" pkg="rviz" type="rviz" name="rviz" args="-d $(find motion_control)/rviz/motion_control.rviz"/>
</launch>
